body {
    background-image: url("background.svg");   
    width: 100dvw;
    height: 100dvh;
    display: flex;
}

.side-navigation {
    width: 110px;
    height: 100%;
    background-color: #FED9ED;
    justify-content: space-around;
    box-shadow: 143px 0px 40px 0px rgba(0, 0, 0, 0.00), 92px 0px 37px 0px rgba(0, 0, 0, 0.01), 52px 0px 31px 0px rgba(0, 0, 0, 0.05), 23px 0px 23px 0px rgba(0, 0, 0, 0.09), 6px 0px 13px 0px rgba(0, 0, 0, 0.10);

}

.side-navigation a {
    width: 100%;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 9px 0;
    color: #BB9CC0;
    opacity: 70%;
}

.side-navigation a:hover {
    opacity: 100%;
}

.page-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard {
    width: 100%;
    height: 100%;
    padding: 25px 59px;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px;
}

.projects {
    grid-area: 1 / 1 / 3 / 3;
    height: 100%;
    padding: 15px 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header a {
    text-decoration: none;
    color: #BB9CC0;
    font-family: Alata;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header a > i {
    margin-right: 5px;
    color: #D99BFF;
    font-size: 1.3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-card {
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-head {
    display: flex;
    justify-content: space-between;
}

.project-head span {
    font-size: 0.8rem;
    vertical-align: middle;
}

.project-head button {
    border: none;
    background-color: none;
    border-radius: 50%;
}

.project-body {
    text-align: center;
    margin: 1rem 0;
}

.project-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-foot p {
    font-size: 0.8rem;
}

.notification, .contacts {
    grid-area: 1 / 3 / 2 / 4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contacts {
    grid-area: 2 / 3 / 3 / 4;
}

.notification, .projects, .contacts {
    background-color: #FCF6F6;
    border-radius: 20px;
}