body {
    background-image: url("background.svg");   
    width: 100dvw;
    height: 100dvh;
    display: flex;
}

.side-navigation {
    width: 110px;
    height: 100%;
    background-color: #FED9ED;
    justify-content: space-around;
    box-shadow: 143px 0px 40px 0px rgba(0, 0, 0, 0.00), 92px 0px 37px 0px rgba(0, 0, 0, 0.01), 52px 0px 31px 0px rgba(0, 0, 0, 0.05), 23px 0px 23px 0px rgba(0, 0, 0, 0.09), 6px 0px 13px 0px rgba(0, 0, 0, 0.10);
    position: sticky;
}

.side-navigation a {
    width: 100%;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 9px 0;
    color: #BB9CC0;
    opacity: 70%;
}

.side-navigation a:hover {
    opacity: 100%;
}

.page-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects {
    width: 100%;
    height: 100%;
    padding: 25px 59px;
}

.projects > div {
    height: 100%;
}

.top-header a {
    font-size: 1rem;
    color: #D99BFF;
    background-color: #FFF6F6;
    border-radius: 10px;
    padding: 5px 10px;
}

.main {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #FCF6F6;
    border-radius: 15px;
}

.tasks > div > a {
    font-size: 1rem;
    color: #D99BFF;
    background-color: #FFF6F6;
    border-radius: 10px;
    padding: 5px 10px;
}